* {
 margin: 0;
 padding: 0;   
}

.fondo {
    width: 100vw;
    height: 100vh;
    background-image: url("imagenFondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom:300px;
}

.title {
    font-size: 60px;
}




a {
    padding: 30px;
    border: 5px solid rgb(54, 6, 6);
    background-color: rgba(244, 9, 9, 0.6);
    color: green;
    text-decoration: none;
    font-size: 45px;
    border-radius: 20px;
}

a:hover {

}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.x {
    padding: 30px;
    border: 5px solid rgb(54, 6, 6);
    background-color: rgba(244, 9, 9, 0.6);
    color: green;
    text-decoration: none;
    font-size: 45px;
    border-radius: 20px;
}
 .y {
    padding: 30px;
    border: 5px solid rgb(54, 6, 6);
    background-color: rgba(244, 9, 9, 0.6);
    color: green;
    text-decoration: none;
    font-size: 45px;
    border-radius: 20px;
 }